In [0]:
%%capture
!pip install wikipedia -q
import wikipedia
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
S = requests.Session()

URL = "https://en.wikipedia.org/w/api.php"

PARAMS = {
    "action": "query",
    "format": "json",
    "titles": "List_of_film_sequels_by_box-office_improvement",
    "prop": "links",
    "pllimit": 500
}

R = S.get(url=URL, params=PARAMS)
DATA = R.json()

PAGES = DATA["query"]["pages"]

sequels = []
for k, v in PAGES.items():
    for l in v["links"]:
        sequels.append(l["title"])

In [0]:
first_movie_list = []
sequel_movie_list = []
for sequel in sequels:
    page = wikipedia.page(sequel)
    summary = page.summary
    for first_movie in sequels:
        if first_movie in summary and first_movie != sequel:
            first_movie_list.append(first_movie)
            sequel_movie_list.append(sequel)

In [0]:
%%capture
! wget "https://datasets.imdbws.com/title.principals.tsv.gz"
! wget "https://datasets.imdbws.com/title.basics.tsv.gz"
! wget "https://datasets.imdbws.com/name.basics.tsv.gz"

! gunzip title.principals.tsv.gz
! gunzip title.basics.tsv.gz
! gunzip name.basics.tsv.gz

In [0]:
cast = pd.read_csv('title.principals.tsv', sep='\t', na_values = "\\N", keep_default_na = False, 
                   usecols = ['tconst','ordering','nconst','category'],
                   dtype = {'tconst': str, 'ordering': str, 'nconst': str, 'category': str})
titles = pd.read_csv('title.basics.tsv', sep='\t', na_values = "\\N", keep_default_na = False,
                     usecols = ['tconst','primaryTitle','startYear','titleType','genres'],
                    dtype = {'tconst': str, 'primaryTitle': str, 'startYear': 'Int64','titleType':str, 'genres': str})
names = pd.read_csv('name.basics.tsv', sep='\t', na_values = "\\N", keep_default_na = False,
                    usecols = ['nconst','primaryName'], 
                    dtype = {'nconst': str, 'primaryName': str})

In [0]:
def remove_film_year(sequel):
  if "(" in sequel:
    i = sequel.index("(")
    return sequel[0:i-1]
  return sequel

In [0]:
first_movie_list = [remove_film_year(first_movie) for first_movie in first_movie_list]
sequel_movie_list = [remove_film_year(sequel) for sequel in sequel_movie_list]

In [10]:
sequel_pairs = pd.DataFrame({"first_movie" : first_movie_list, "sequel" : sequel_movie_list})
sequel_pairs.head()

                                     first_movie                                         sequel
0                                 22 Jump Street                                 21 Jump Street
1                         For a Few Dollars More                           A Fistful of Dollars
2                      A Nightmare on Elm Street  A Nightmare on Elm Street 2: Freddy's Revenge
3                      A Nightmare on Elm Street    A Nightmare on Elm Street 3: Dream Warriors
4  A Nightmare on Elm Street 4: The Dream Master    A Nightmare on Elm Street 3: Dream Warriors

In [11]:
movie_titles = titles[titles.titleType == 'movie']
movie_titles = movie_titles[movie_titles.primaryTitle.isin(first_movie_list + sequel_movie_list)]
movie_titles = pd.merge(movie_titles, cast, on = 'tconst')
movie_titles = pd.merge(movie_titles, names, on = 'nconst')
movie_titles = movie_titles.drop(columns = ['titleType','tconst','nconst'])
movie_titles.head()

      primaryTitle  startYear genres ordering  category      primaryName
0  Before Midnight       1925  Drama        1     actor  William Russell
1  Before Midnight       1925  Drama        2   actress  Barbara Bedford
2  Before Midnight       1925  Drama        3     actor    Brinsley Shaw
3  Before Midnight       1925  Drama        4     actor      Alan Roscoe
4  Before Midnight       1925  Drama        5  director   John G. Adolfi

In [21]:
movie_information = movie_titles[movie_titles.category.isin(['actor','actress','director'])].copy()
print(movie_information.shape)
movie_information.replace(['actor','actress','director'], ['act','act','dir'], inplace = True)
movie_information['role'] = movie_information.category + movie_information.ordering
movie_information.head()
movie_summary = pd.pivot_table(movie_information, columns = 'role', values = 'primaryName', index = ['primaryTitle','startYear','genres'], aggfunc = 'first')
movie_summary = movie_summary[['act1','act2','act3','act4','dir5']].reset_index()
movie_summary.head()

(1112, 6)

role               primaryTitle  startYear  ...              act4          dir5
0                21 Jump Street       2012  ...       Brie Larson     Phil Lord
1                22 Jump Street       2014  ...     Nick Offerman     Phil Lord
2          A Fistful of Dollars       1964  ...  Wolfgang Lukschy  Sergio Leone
3     A Nightmare on Elm Street       1984  ...        John Saxon    Wes Craven
4     A Nightmare on Elm Street       2010  ...     Katie Cassidy  Samuel Bayer

[5 rows x 8 columns]

In [0]:
first_movie_titles = movie_summary[movie_summary.primaryTitle.isin(first_movie_list)]
first_movie_titles.columns = 'fm_' + first_movie_titles.columns
sequel_movie_titles = movie_summary[movie_summary.primaryTitle.isin(sequel_movie_list)]
sequel_movie_titles.columns = 's_' + sequel_movie_titles.columns

In [23]:
first_movie_titles.head()

                               fm_primaryTitle  ...        fm_dir5
1                               22 Jump Street  ...      Phil Lord
2                         A Fistful of Dollars  ...   Sergio Leone
3                    A Nightmare on Elm Street  ...     Wes Craven
4                    A Nightmare on Elm Street  ...   Samuel Bayer
6  A Nightmare on Elm Street 3: Dream Warriors  ...  Chuck Russell

[5 rows x 8 columns]

In [29]:
sequel_table = pd.merge(pd.merge(first_movie_titles, sequel_pairs, left_on = 'fm_primaryTitle', right_on = 'first_movie', how = 'inner'),
                        sequel_movie_titles, left_on = 'sequel', right_on = 's_primaryTitle', how = 'inner')
sequel_table = sequel_table[sequel_table.fm_startYear <= sequel_table.s_startYear].copy()
sequel_table.head()

                               fm_primaryTitle  ...         s_dir5
1                         A Fistful of Dollars  ...   Sergio Leone
2                    A Nightmare on Elm Street  ...   Jack Sholder
4                    A Nightmare on Elm Street  ...  Chuck Russell
7                    A Nightmare on Elm Street  ...   Renny Harlin
9  A Nightmare on Elm Street 3: Dream Warriors  ...   Renny Harlin

[5 rows x 18 columns]

In [30]:
print(sequel_table.shape)

(113, 18)

In [0]:
non_sequel_movies = ['The Searchers','Chisum','She Wore a Yellow Ribbon','There Will Be Blood','Phantom Thread','Little Big Man',
                     'Bonnie and Clyde','Out of Africa','Silkwood','Florence Foster Jenkins','The Shawshank Redemption',
                     'Escape from Alcatraz','Little Big Horn','American Beauty','An American in Paris']

In [0]:
non_sequel_titles = titles[(titles.titleType == 'movie') & (titles.primaryTitle.isin(non_sequel_movies))]

In [53]:
non_sequel_titles

            tconst titleType  ... startYear                   genres
41152    tt0041866     movie  ...      1949                  Western
42536    tt0043278     movie  ...      1951    Drama,Musical,Romance
43000    tt0043747     movie  ...      1951                  Western
48860    tt0049730     movie  ...      1956  Adventure,Drama,Western
60255    tt0061418     movie  ...      1967   Action,Biography,Crime
64264    tt0065547     movie  ...      1970        Biography,Western
64695    tt0065988     movie  ...      1970   Adventure,Comedy,Drama
77474    tt0079116     movie  ...      1979    Biography,Crime,Drama
84464    tt0086312     movie  ...      1983  Biography,Drama,History
87820    tt0089755     movie  ...      1985  Biography,Drama,Romance
108768   tt0111161     movie  ...      1994                    Drama
163945   tt0169547     movie  ...      1999                    Drama
451713   tt0469494     movie  ...      2007                    Drama
3496540  tt4136084     movie  ...      2016   Biography,Comedy,Drama
4228439  tt5776858     movie  ...      2017            Drama,Romance

[15 rows x 5 columns]

In [0]:
titles1 = titles[titles.titleType == 'movie']
names1 = names[names.primaryName.isin(['Meryl Streep'])]
cast1 = pd.merge(names1, cast, on = 'nconst')
titles2 = pd.merge(cast1, titles1, on = 'tconst')

In [46]:
titles2

       nconst   primaryName  ... startYear                    genres
0   nm0000658  Meryl Streep  ...      1979                     Drama
1   nm0000658  Meryl Streep  ...      1979                     Drama
2   nm0000658  Meryl Streep  ...      1981             Drama,Romance
3   nm0000658  Meryl Streep  ...      1982             Drama,Romance
4   nm0000658  Meryl Streep  ...      1982       Crime,Drama,Mystery
5   nm0000658  Meryl Streep  ...      1983   Biography,Drama,History
6   nm0000658  Meryl Streep  ...      1984             Drama,Romance
7   nm0000658  Meryl Streep  ...      1985   Biography,Drama,Romance
8   nm0000658  Meryl Streep  ...      1985                     Drama
9   nm0000658  Meryl Streep  ...      1986              Comedy,Drama
10  nm0000658  Meryl Streep  ...      1987                     Drama
11  nm0000658  Meryl Streep  ...      1988           Biography,Drama
12  nm0000658  Meryl Streep  ...      1989                    Comedy
13  nm0000658  Meryl Streep  ...      1990              Comedy,Drama
14  nm0000658  Meryl Streep  ...      1991      Comedy,Drama,Fantasy
15  nm0000658  Meryl Streep  ...      1992     Comedy,Fantasy,Horror
16  nm0000658  Meryl Streep  ...      1993             Drama,Romance
17  nm0000658  Meryl Streep  ...      1994  Adventure,Crime,Thriller
18  nm0000658  Meryl Streep  ...      1995             Drama,Romance
19  nm0000658  Meryl Streep  ...      1996       Crime,Drama,Mystery
20  nm0000658  Meryl Streep  ...      1996                     Drama
21  nm0000658  Meryl Streep  ...      1998             Drama,Romance
22  nm0000658  Meryl Streep  ...      1998                     Drama
23  nm0000658  Meryl Streep  ...      1999               Drama,Music
24  nm0000658  Meryl Streep  ...      1998   Documentary,History,War
25  nm0000658  Meryl Streep  ...      2002              Comedy,Drama
26  nm0000658  Meryl Streep  ...      2002             Drama,Romance
27  nm0000658  Meryl Streep  ...      2004   Adventure,Comedy,Family
28  nm0000658  Meryl Streep  ...      2004      Drama,Mystery,Sci-Fi
29  nm0000658  Meryl Streep  ...      2005      Comedy,Drama,Romance
..        ...           ...  ...       ...                       ...
37  nm0000658  Meryl Streep  ...      2008    Comedy,Musical,Romance
38  nm0000658  Meryl Streep  ...      2007        Drama,Thriller,War
39  nm0000658  Meryl Streep  ...      2008             Drama,Mystery
40  nm0000658  Meryl Streep  ...      2011           Biography,Drama
41  nm0000658  Meryl Streep  ...      2020      Comedy,Drama,Musical
42  nm0000658  Meryl Streep  ...      2020              Comedy,Drama
43  nm0000658  Meryl Streep  ...      2008               Documentary
44  nm0000658  Meryl Streep  ...      2009   Biography,Drama,Romance
45  nm0000658  Meryl Streep  ...      2011   Documentary,Family,News
46  nm0000658  Meryl Streep  ...      2009      Comedy,Drama,Romance
47  nm0000658  Meryl Streep  ...      2013              Comedy,Drama
48  nm0000658  Meryl Streep  ...      2007               Documentary
49  nm0000658  Meryl Streep  ...      2012      Comedy,Drama,Romance
50  nm0000658  Meryl Streep  ...      2012               Documentary
51  nm0000658  Meryl Streep  ...      2010          Documentary,News
52  nm0000658  Meryl Streep  ...      2005               Documentary
53  nm0000658  Meryl Streep  ...      1999                 Biography
54  nm0000658  Meryl Streep  ...      2012               Documentary
55  nm0000658  Meryl Streep  ...      2014    Adventure,Comedy,Drama
56  nm0000658  Meryl Streep  ...      2015     Biography,Documentary
57  nm0000658  Meryl Streep  ...      2015   Biography,Drama,History
58  nm0000658  Meryl Streep  ...      2019             Drama,Romance
59  nm0000658  Meryl Streep  ...      2015        Comedy,Drama,Music
60  nm0000658  Meryl Streep  ...      2016    Biography,Comedy,Drama
61  nm0000658  Meryl Streep  ...      2016     Biography,Documentary
62  nm0000658  Meryl Streep  ...      2019                     Drama
63  nm0000658  Meryl Streep  ...      2017   Biography,Drama,History
64  nm0000658  Meryl Streep  ...      2018    Comedy,Musical,Romance
65  nm0000658  Meryl Streep  ...       NaN                     Drama
66  nm0000658  Meryl Streep  ...      2019               Documentary

[67 rows x 9 columns]

In [33]:
n = 15
n*(n-1)/2

105.0